<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/anime.min.js">
</head>
<body>
    
    <main>
        <div class="row justify-content-center align-items-center bg-dark text-white text-center" style="height: 100vh;background: url('gifs/1(17).gif');">
            <div>
                <div class="mt-2 mb-5 bg-white p-2">
                    <a href="/" class="btn">Accueil</a>
                    <a href="/blog" class="btn">Blog</a>
                    <a href="/portfolio" class="btn">Portfolio</a>
                    <a href="/admin" class="btn">Administration</a>
                </div>

                <h1>section blog</h1>

                <p>
                    % In devlopement ... /%
                </p>

                <img src="gifs/1(10).gif" alt="" width="40">
            </div>
        </div>
    </main>

    <script>

    </script>
</body>
</html>